         <ul id="top-menu" class="nav">
            <li id="menu-item-6450" class="mega-menu menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6450">
               <a href="#">Portfolio</a>
               <ul class="sub-menu">
                  <li id="menu-item-6454" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6454">
                     <a href="#">Fullwidth Layouts</a>
                     <ul class="sub-menu">
                        <li id="menu-item-6451" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6451"><a href="http://www.elegantthemes.com/preview/Divi/fullwidth-grid/">Fullwidth Grid</a></li>
                        <li id="menu-item-6452" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6452"><a href="http://www.elegantthemes.com/preview/Divi/fullwidth-carousel/">Fullwidth Carousel</a></li>
                     </ul>
                  </li>
                  <li id="menu-item-6453" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6453">
                     <a href="#">Gallery Layouts</a>
                     <ul class="sub-menu">
                        <li id="menu-item-6455" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6455"><a href="http://www.elegantthemes.com/preview/Divi/gallery-grid/">Gallery Grid</a></li>
                        <li id="menu-item-6456" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6456"><a href="http://www.elegantthemes.com/preview/Divi/gallery-slider/">Gallery Slider</a></li>
                     </ul>
                  </li>
                  <li id="menu-item-6457" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6457">
                     <a href="#">Standard Layouts</a>
                     <ul class="sub-menu">
                        <li id="menu-item-6459" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6459"><a href="http://www.elegantthemes.com/preview/Divi/portfolio-grid/">Portfolio Grid</a></li>
                        <li id="menu-item-6461" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6461"><a href="http://www.elegantthemes.com/preview/Divi/portfolio-1-column/">Portfolio 1 Column</a></li>
                        <li id="menu-item-6458" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6458"><a href="http://www.elegantthemes.com/preview/Divi/filterable-portfolio-grid/">Filterable Portfolio Grid</a></li>
                        <li id="menu-item-6460" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6460"><a href="http://www.elegantthemes.com/preview/Divi/filterable-portfolio-1-column/">Filterable Portfolio 1 Column</a></li>
                     </ul>
                  </li>
                  <li id="menu-item-6462" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6462">
                     <a href="#">Project Pages</a>
                     <ul class="sub-menu">
                        <li id="menu-item-6466" class="menu-item menu-item-type-post_type menu-item-object-project menu-item-6466"><a href="http://www.elegantthemes.com/preview/Divi/project/novi-stationary-kit/">Project Basic</a></li>
                        <li id="menu-item-6464" class="menu-item menu-item-type-post_type menu-item-object-project menu-item-6464"><a href="http://www.elegantthemes.com/preview/Divi/project/line-icon-set/">Project Basic  With Sidebar</a></li>
                        <li id="menu-item-6465" class="menu-item menu-item-type-post_type menu-item-object-project menu-item-6465"><a href="http://www.elegantthemes.com/preview/Divi/project/project-extended-2/">Project Extended</a></li>
                        <li id="menu-item-6463" class="menu-item menu-item-type-post_type menu-item-object-project menu-item-6463"><a href="http://www.elegantthemes.com/preview/Divi/project/project-extended/">Project Extended 2</a></li>
                     </ul>
                  </li>
               </ul>
            </li>
            <li id="menu-item-6467" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6467">
               <a href="#">Blog</a>
               <ul class="sub-menu">
                  <li id="menu-item-6469" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6469"><a href="http://www.elegantthemes.com/preview/Divi/blog-standard/">Blog Standard</a></li>
                  <li id="menu-item-6468" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6468"><a href="http://www.elegantthemes.com/preview/Divi/blog-standard-no-sidebar-2/">Blog Standard No Sidebar</a></li>
                  <li id="menu-item-6470" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6470"><a href="http://www.elegantthemes.com/preview/Divi/blog-masonry/">Blog Masonry</a></li>
                  <li id="menu-item-6471" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6471"><a href="http://www.elegantthemes.com/preview/Divi/blog-standard-no-sidebar/">Blog Masonry No Sidebar</a></li>
               </ul>
            </li>
         </ul>