
{% comment %} get pass stash {% endcomment %}

{% capture _pass_stash %}
   
   {{ _pass_stash }}

   {% if _pass_active %}
      1
   {% else %}
      0
   {% endif %}

{% endcapture %}

{% comment %} END get pass stash {% endcomment %}



{% comment %} Set _pass_active to false {% endcomment %}

{% assign _pass_active = false %}


{% comment %} Se capturan los elementos {% endcomment %}
{% capture _menu_items %}
   {% comment %} Listado paginas disponibles {% endcomment %}
   {% assign _pages = site.pages %}

   {% comment %} Se ordenan por la URL {% endcomment %}
   {% assign _pages = _pages | sort: "url" %}

   {% comment %} Se recorren las paginas que esten por debajo de la url pasada como parametro {% endcomment %}
   {% for node in _pages %}
   
   {% comment %} Si el titulo no existe saltamos el loop {% endcomment %}
   {% unless node.title %}{% continue %}{% endunless %}
   
   {% comment %} Para este elemento (node) corto su URL con el tamaño de la url pasada por parametro y optengo una url de inicio {% endcomment %}
   {% assign _url_start = node.url | truncate: include.url.size, "" %}
   
   {% comment %} Si mi url de inicio no es igual a la url pasada por parametro saltare el loop {% endcomment %}
   {% unless include.url == _url_start %}{% continue %}{% endunless %}
   
   {% comment %} Elimino la url de inicio para este nodo quedandome solo con el final de la url que no coincide {% endcomment %}
   {% assign _url_rest = node.url | remove_first: _url_start %}

   {% comment %} Me guardo el numero de "/" de la url sobrante {% endcomment %}
   {% assign _url_rest_size = _url_rest | split: "/" | size %}

   {% comment %} Excluir las paginas generadas por paginacion el la vista del blog {% endcomment %}
   {% assign _childmenu = 0 %}
   {% assign _have_pagination = node.url | split: "/page-" | size %}
   {% if _have_pagination == 2 %}
      {% continue %}
   {% endif %}

   {% comment %} Guardo el ultimo caracter de la url {% endcomment %}
   {% assign _lastchar = node.url | split: "" | last %}

   {% comment %} Me guardo la siguiente url a buscar {% endcomment %}
   {% assign _nexturl = node.url %}

   {% comment %} Si el conteo de las "/" en la url sobrante es cero {% endcomment %}
   {% if _url_rest_size == 0 %}
      {% comment %} Solo puede valer 0 si es la raiz de lo contrario salto el loop {% endcomment %}
      {% unless include.url == "/" %}{% continue %}{% endunless %}

   {% comment %} Si el ultimo caracter es "/" {% endcomment %}
   {% elsif _lastchar == "/" %}
      {% comment %} Si el conteo de las "/" en la url sobrante no es igual a uno (Significa que no tiene hijos) {% endcomment %}
      {% unless _url_rest_size == 1 %}{% continue %}{% endunless %}
      
   {% comment %} Si el conteo de las "/" en la url sobrante es dos {% endcomment %}
   {% elsif _url_rest_size == 2 %}

      {% comment %} Genero un array con _url_rest y me guardo el ultimo elemento (que equivale con el nombre de la vista) {% endcomment %}
      {% assign _filename = _url_rest | split: "/" | last %}

      {% comment %} Me guardo el posible "index." en una variable (Los 6 primeros caracteres) {% endcomment %}
      {% assign _checkindex = _filename | truncate: 6, "" %}

      {% comment %} si _checkindex no es igual a "index." salto el loop {% endcomment %}
      {% unless _checkindex == "index." %}{% continue %}{% endunless %}

      {% comment %} Se extrae el numero de caracteres que ocupa el index.* para obtener el nombre de la vista {% endcomment %}
      {% assign _nexturl = node.url.size | minus: _filename.size %}{% assign _nexturl = node.url | truncate: _nexturl, "" %}
   
   {% comment %} Si no se cumple ninguna de las anteriores {% endcomment %}
   {% else %}
      {% comment %} Si el conteo de las "/" en la url sobrante no es uno y la url pasada por parametro no es "/" {% endcomment %}
      {% unless _url_rest_size == 1 and include.url == "/" %}{% continue %}{% endunless %}

   {% endif %}

   {% assign _retval = false %}

   {% comment %} initialize submenu value {% endcomment %}
   {% assign _childmenu = "" %}

   {% comment %} Si no estoy en la raiz intento buscar hijos y capturar el ul generado{% endcomment %}
   {% unless node.url == "/" %}{% capture _childmenu %}

   {% comment %} voy a buscar menu para  {{_nexturl}} {% endcomment %}
   {% include menu_beta.html url=_nexturl haschildren=true %}{% endcapture %}{% endunless %}

   {% comment %} Genero las clases para este elemento {% endcomment %}
   {% capture _classes %}
      {% if page.url == node.url %}
         selected{{ " " }}
      {% elsif _retval %}
         active{{ " " }}
      {% endif %}

      {% if _childmenu != "" %}
         branch{{ " " }}
         menu-item-has-children
         branch{{ " " }}
         {% if _retval or page.url == node.url or include.all %}
            open   
         {% else %}
            closed   
         {% endif %}

      {% else %}
      leaf
      {% endif %}

   {% endcapture %}

   {% comment %} Genero el elemento li {% endcomment %}
   <li class="menu-item menu-item-type-post_type menu-item-object-page {{ _classes }}"><a href="{{ site.baseurl }}{{ node.url }}">{{ node.title | escape }}</a>
   {{ _childmenu }}
   {% if _retval or page.url == node.url %}{% assign _pass_active = true %}{% endif %}</li>{% endfor %}
{% endcapture %}


{% comment %} Si existen items, se imprime la lista {% endcomment %}


{% assign _srip_items = _menu_items | strip %}
{% unless _srip_items == "" %}
   {% if include.haschildren %}
      <ul class="sub-menu">
         {{ _srip_items }}
      </ul>
   {% else %}
      <ul id="top-menu" class="nav">
         {{ _srip_items }}
      </ul>
   {% endif %}
{% endunless %}

{% assign _retval = _pass_active %}
{% assign _tmp = _pass_stash | split: "" | last %}

{% if _tmp == "1" %}
   {% assign _pass_active = true %}
{% else %}
   {% assign _pass_active = false %}
{% endif %}

{% assign _tmp = _pass_stash.size | minus: 1 %}
{% assign _pass_stash = _pass_stash | truncate: _tmp, "" %}

