
<!-- get pass stash -->
{% capture _pass_stash %}
   
   {{ _pass_stash }}

   {% if _pass_active %}
      1
   {% else %}
      0
   {% endif %}

{% endcapture %}
<!-- END get pass stash -->

<!-- Set _pass_active to false -->
{% assign _pass_active = false %}


<!-- Get menu itema -->
{% capture _menu_items %}
   <!-- get pages -->
   {% assign _pages = site.pages %}

   <!-- order pages -->
   {% if include.sort %}
      {% assign _pages = _pages | sort: include.sort %}
   {% else %}
      {% assign _pages = _pages | sort: "url" %}
   {% endif %}

   <!-- reverse order -->
   {% if include.reverse %}
      {% assign _pages = _pages | reverse %}
   {% endif %}

   <!-- foreach pages -->
   {% for node in _pages %}
      
      <!-- if title is not set -->
      {% unless node.title %}
         {% continue %}
      {% endunless %}
      
      <!-- get the first segment  -->
      {% assign _url_start = node.url | truncate: include.url.size, "" %}
   
      <!-- children search -->
      {% unless include.url == _url_start %}
         {% continue %}
      {% endunless %}

      <!-- exclude the first segment -->
      {% assign _url_rest = node.url | remove_first: _url_start %}

      <!-- get the segments of the url -->
      {% assign _url_rest_size = _url_rest | split: "/" | size %}

      <!-- get the last character of the url -->
      {% assign _lastchar = node.url | split: "" | last %}

      <!-- next url -->
      {% assign _nexturl = node.url %}
      
      <!-- if not have segments or the last char is eq "/" -->
      {% if _url_rest_size == 0 %}
         {% unless include.url == "/" %}
            {% continue %}
         {% endunless %}
      {% elsif _lastchar == "/" %}
         {% unless _url_rest_size == 1 %}
            {% continue %}
         {% endunless %}

      <!-- if have segments -->
      {% elsif _url_rest_size == 2 %}
         <!-- Set the new filename -->
         {% assign _filename = _url_rest | split: "/" | last %}
         <!-- Set the new new index -->
         {% assign _checkindex = _filename | truncate: 6, "" %}
         
         {% unless _checkindex == "index." %}
            {% continue %}
         {% endunless %}
         
         {% assign _nexturl = node.url.size | minus: _filename.size %}
         {% assign _nexturl = node.url | truncate: _nexturl, "" %}
      
      {% else %}

         {% unless _url_rest_size == 1 and include.url == "/" %}
            {% continue %}
         {% endunless %}

      {% endif %}

      {% assign _retval = false %}
      {% assign _childmenu = "" %}

      {% unless node.url == "/" %}

         {% capture _childmenu %}
            {% include menu.html url=_nexturl sort=include.sort reverse=include.reverse all=include.all %}
         {% endcapture %}
         
      {% endunless %}

      {% capture _classes %}

         {% if page.url == node.url %}
            selected{{ " " }}
         {% elsif _retval %}
            active{{ " " }}
         {% endif %}
         
         {% if _childmenu != "" %}
            branch{{ " " }}{% if _retval or page.url == node.url or include.all %}
            open{% else %}
            closed{% endif %}
         {% else %}
            leaf
         {% endif %}

      {% endcapture %}

      <li class="menu-item menu-item-type-post_type menu-item-object-page {{ _classes }}">
         <a href="{{ site.baseurl }}{{ node.url }}">
         {{ node.title | escape }}
         </a>

         {% if _retval or page.url == node.url or include.all %}
            {{ _childmenu }}
         {% endif %}

         {% if _retval or page.url == node.url %}
            {% assign _pass_active = true %}
         {% endif %}

      </li>
   {% endfor %}

{% endcapture %}


{% unless _menu_items == "" %}
   <ul id="top-menu" class="nav">
      {{ _menu_items }}
   </ul>
{% endunless %}

{% assign _retval = _pass_active %}
{% assign _tmp = _pass_stash | split: "" | last %}

{% if _tmp == "1" %}
   {% assign _pass_active = true %}
{% else %}
   {% assign _pass_active = false %}
{% endif %}

{% assign _tmp = _pass_stash.size | minus: 1 %}
{% assign _pass_stash = _pass_stash | truncate: _tmp, "" %}

