<div class="container clearfix">
   <div id="et-info">
      {% if site.phone %}
      	<span id="et-info-phone">{{site.phone}}</span>
      {% endif %}

      {% if site.email %}
      <a href="mailto:{{site.email}}"><span id="et-info-email">{{site.email}}</span></a>
      {% endif %} 
      
      <ul class="et-social-icons">

      	{% if site.facebook_url %}
      	<li class="et-social-icon et-social-facebook">
			<a href="{{site.facebook_url}}" class="icon">
			<span>Facebook</span>
			</a>
		</li>
		{% endif %}

      	{% if site.twitter_url %}
		<li class="et-social-icon et-social-twitter">
			<a href="{{site.twitter_url}}" class="icon">
			<span>Twitter</span>
			</a>
		</li>
		{% endif %}
		
      	{% if site.google_url %}
		<li class="et-social-icon et-social-google-plus">
			<a href="{{site.google_url}}" class="icon">
			<span>Google</span>
			</a>
		</li>
		{% endif %}

      </ul>
   </div>
   <!-- #et-info -->
   <div id="et-secondary-menu">
      <div class="et_duplicate_social_icons">
	      <ul class="et-social-icons">

	      	{% if site.facebook_url %}
	      	<li class="et-social-icon et-social-facebook">
				<a href="{{site.facebook_url}}" class="icon">
				<span>Facebook</span>
				</a>
			</li>
			{% endif %}

	      	{% if site.twitter_url %}
			<li class="et-social-icon et-social-twitter">
				<a href="{{site.twitter_url}}" class="icon">
				<span>Twitter</span>
				</a>
			</li>
			{% endif %}
			
	      	{% if site.google_url %}
			<li class="et-social-icon et-social-google-plus">
				<a href="{{site.google_url}}" class="icon">
				<span>Google</span>
				</a>
			</li>
			{% endif %}

	      </ul>
      </div>
      <ul id="et-secondary-nav" class="menu">
         <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5707">
            <a href="">Link 1</a>
            <ul class="sub-menu">
               <li class="menu-item menu-item-type-taxonomy"><a href="#">Link 1.1</a></li>
               <li class="menu-item menu-item-type-taxonomy"><a href="#">Link 1.2</a></li>
            </ul>
         </li>
      </ul>			
   </div>
   <!-- #et-secondary-menu -->
</div>
<!-- .container -->