---
layout: divi
sidebar: false
header_type: 'default'
boxed_layout: false
body_class: post
---

<div class="container">
   <div id="content-area" class="clearfix">
      <div id="left-area">
         <article id="post-4730" class="et_pb_post post-4730 post type-post status-publish format-gallery has-post-thumbnail hentry category-photography post_format-post-format-gallery">
            <div class="et_post_meta_wrapper">
               <h1 class="entry-title">{{page.title}}</h1>
               <h1 class="entry-title">{{page.basename}}</h1>
               <p class="post-meta"> 
					{% if page.author %}
						by <span class="author vcard"><a href="#author-link" title="Posts by {{ page.author }}">{{ page.author }}</a></span>
                    {% endif %}

					{% if page.author and page.date %}|{% endif %}

					{% if page.date %}
						<span class="published">{{ page.date | date: '%B %d, %Y' }}</span>
					{% endif %}

					{% if page.date and page.category %}|{% endif %}

					{% if page.category %}
						{% for post_cat in page.category %}
							<a href="#category-link" rel="category tag">{{ post_cat }}</a>
							{% if forloop.index != forloop.length  %},{% endif %}
						{% endfor %}
					{% endif %}
            </div>
            <!-- .et_post_meta_wrapper -->
            <div class="entry-content">
               <p>
               	{{ content }}
               </p>
            </div>
            <!-- .entry-content -->
         </article>
         <!-- .et_pb_post -->
      </div>
      <!-- #left-area -->
   </div>
   <!-- #content-area -->
</div>